<div class="container mt1">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1 class="align-left mb2">Események</h1>
        
      <h2 class="small gray align-left">Aktuális hazai események</h2>
      <% for (var i = 0; i < site.domesticEventsData.length; i++) { %>
      <div class="border-full shadow2 p0 mb2 bg-light-gray">
        <a href="<%= site.domesticEventsData[i].link %>">
          <img class="center-align mx-auto mt0 mbhalf event-photo" src="<%= site.domesticEventsData[i].kep %>" alt="<%= site.domesticEventsData[i].cim %>" class="event-photo"/>
        </a>
        <div class="clearfix pbhalf">
          <div class="left mlhalf mrhalf bg-white border-full-light border-edge border-r3 width-60 text-center">
            <p class="m0 small-smallest gray uppercase"><%= site.domesticEventsData[i].datum.split('-')[0] %>.</p>
            <p class="m0 small-smallest bold uppercase"><%= site.domesticEventsDateFormatted[i] %></p>
            <p class="m0 medium dark-gray bold-800"><%= site.domesticEventsData[i].datum.split('-')[2] %>.</p>
          </div>
              
          <div class="align-left min-width-100">
            <a href="<%= site.domesticEventsData[i].link %>">
              <p class="m0 bold-800 pr1 ml4"><%= site.domesticEventsData[i].cim %></p>
            </a>
            <p class="m0 pl1 pr1 pbhalf small-smallest dark-gray ml3"><%= site.domesticEventsData[i].szervezo %></p>
            <p class="m0 pthalf pl1 pr1 small-smallest italic ml3"><i class="far fa-clock"></i> <%= site.domesticEventsData[i].idopont %></p>
            <p class="m0 pl1 pr1 smallest italic ml3"><i class="fas fa-map-marker-alt"></i> <%= site.domesticEventsData[i].helyszin %></p>
          </div>
        </div>
      </div>
      <% } %>
          
          
      <h2 class="small gray align-left mt4">Aktuális külföldi események</h2>
      <% for (var i = 0; i < site.eventsAbroadData.length; i++) { %>
      <div class="border-full shadow2 p0 mb3">
        <a href="<%= site.eventsAbroadData[i].link %>">
          <img class="center-align mx-auto mt0 mbhalf event-photo" src="<%= site.eventsAbroadData[i].kep %>" alt="<%= site.eventsAbroadData[i].cim %>" class="event-photo"/>
        </a>
        <div class="clearfix pbhalf">
          <div class="left mlhalf mrhalf bg-white border-full-light border-edge width-60 text-center">
            <p class="m0 small-smallest gray uppercase"><%= site.eventsAbroadData[i].datum.split('-')[0] %>.</p>
            <p class="m0 small-smallest bold uppercase"><%= site.eventsAbroadDateFormatted[i] %></p>
            <p class="m0 medium bold uppercase"><%= site.eventsAbroadData[i].datum.split('-')[2] %>.</p>
          </div>
              
          <div class="align-left min-width-100">
            <a href="<%= site.eventsAbroadData[i].link %>">
              <p class="m0 bold-800 pr1 ml4"><%= site.eventsAbroadData[i].cim %></p>
            </a>
            <p class="m0 pl1 pr1 pbhalf small-smallest dark-gray ml3"><%= site.eventsAbroadData[i].szervezo %></p> 
            <p class="m0 pthalf pl1 pr1 small-smallest italic ml3"><i class="far fa-clock"></i> <%= site.eventsAbroadData[i].idopont %></p>
            <p class="m0 pl1 pr1 smallest italic ml3"><i class="fas fa-map-marker-alt"></i> <%= site.eventsAbroadData[i].helyszin %></p>
          </div>
        </div>
      </div>
      <% } %> 
    </div>   
  </div>
</div>
</main>