<footer class="mt3">
  <h4 class="gray big normal">Kapcsolat</h4>
  
  <ul class="pl0 no-bullets mb4">
    <li class="small dark-gray"><i class="fas fa-phone fa-sm prquarter"></i><%= site.mobile %></li>
    <li class="small dark-gray"><a href="mailto:<%= site.email %>"><i class="fas fa-envelope fa-sm prquarter"></i><%= site.email %></a></li>
    <li class="small dark-gray"><a href="https://www.facebook.com/<%= site.facebook %>"><i class="fab fa-facebook fa-sm prquarter"></i>Facebook</a></li>
  </ul>

  <p class="mt2 mb1 small-smallest condensed gray">Minden jog fenntartva &copy; <%= site.author %>, <%= site.year %></p>
</footer>