<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      <footer class="mt1">
        <div class="pull-left">
          <h3 class="gray"><%= site.title %></h3>
      
          <ul class="plhalf pbhalf no-bullets-lh15">
            <li class="smallest"><i class="glyphicon glyphicon-map-marker prquarter pl-02"></i>Szeged, Magyarország</li>
            <li class="smallest"><i class="glyphicon glyphicon-earphone prquarter pl-02"></i> <%= site.mobile %></li>
            <li class="smallest"><a href="mailto:<%= site.email %>"><i class="glyphicon glyphicon-envelope prquarter"></i> <%= site.email %></a></li>
          </ul>
        </div>

        <div class="pull-right ml2">
          <img class="logo unselectable mt2" src="/assets/images/logo.gif">
          <p class="mb1 mthalf small-smallest condensed gray">Minden jog fenntartva<br> &copy; <%= site.author %>, <%= site.currentYear %></p>
        </div>
      </footer>
      </div>
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
