<!doctype html>
<html lang="hu">
<%- include('../partials/head.ejs') %>
<body>
  <div class="sm-col-12 md-col-12 lg-col-12 col-12 mx-auto align-center dancers-bg unselectable border-bottom-gray">
  <%- include('../partials/header.ejs') %>
  </div>

  <div class="sm-col-12 md-col-12 lg-col-7 col-8 mt1 pl1 pr1 mx-auto align-center"> 
  <%- body %>
  <%- include('../partials/bottom-navbar-articles.ejs') %>
  <%- include('../partials/footer.ejs') %>
  </div>
</body>
</html>