<!DOCTYPE html>
<html lang="hu">
  <%- include partials/head.ejs %>
<body>
  <%- include partials/facebook-like %>
  <%- include partials/header-post %>
  <main>
    <%- body %>
  </main>
  <%- include partials/footer %>
  <%- include partials/bootstrap %>
  <%- include partials/tracking %>
</body>
</html>