<!DOCTYPE html>
<html lang="hu">
  <%- include partials/head %>
<body>
  <%- include partials/facebook-like %>
  <%- include partials/header %>
  <main class="m0 p0"> 
    <%- body %>
  </main>
  <%- include partials/footer %>
  <%- include partials/bootstrap %>
  <%- include partials/tracking %>
  
  <script src="/assets/js/identity.js"></script>
</body>
</html>