<!doctype html>
<html lang="hu">
<%- include('../partials/head-post.ejs') %>
<body>
  <div class="sm-col-12 md-col-12 lg-col-7 col-8 mt1 p1 mx-auto align-left bg-white border-all"> 
  <%- include('../partials/post-title.ejs') %>
  <%- body %>
  </div>
  <div class="sm-col-12 md-col-12 lg-col-7 col-8 mt1 p1 mx-auto"> 
  <%- include('../partials/bottom-navbar.ejs') %>
  </div>
  <%- include('../partials/analytics.ejs') %>
</body>
</html>